<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../src/template.js"></script>
</head>
<body>
    <div>TODO:</div>
    <ul id="myContainer"></ul>
    <input type="text" value="empty..." id="myInput">
    <button onclick="addTodo();">add</button>
</body>

<script id="myTemplate" type="text/html">
    <% for (i in this) { %>
    <li> <% (Number(i) + 1) %>. <% this[i] %> </li>
    <% } %>
</script>

<script>

var todoList = ["test1", "test2", "test3"];
function showTodo() {
    var template = document.querySelector("#myTemplate").innerHTML;
    var renderer = template2renderer(template);
    var html = renderer(todoList);
    document.querySelector("#myContainer").innerHTML = html;
}
function addTodo(event) {
    var content = document.querySelector("#myInput").value;
    todoList.push(content);
    showTodo();
}
showTodo();

</script>
</html>